PORT=4005
NODE_ENV=development

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RMQ_EVENTS_QUEUE=events.notifications

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="No Reply <your_email@gmail.com>"